# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/

# ML Artifacts
artifacts/models/
artifacts/scalers/

# React
frontend/node_modules/
frontend/dist/